@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Ruda:wght@600&display=swap");

// Colors
$primary-light: #9a67bd;
$primary-medium: #633183;
$primary-dark: #381a4c;
$gray-light: #e7eeea;
$gray-medium: #c1d2c8;
$gray-dark: #8fa79b;
$gray-darker: #36453d;
$white: #fcfffe;
$black: #1f1e1f;

// Fonts
$font-title: "Ruda", sans-serif;
$font-text: "Lato", sans-serif;
$font-logo: "Krona One", sans-serif;

// Sizes
$size1: 3.052rem;
$size2: 2.441rem;
$size3: 1.953rem;
$size4: 1.563rem;
$size5: 1.25rem;
$size6: 1rem;
$size7: 0.8rem;
$size8: 0.64rem;

$sizeXL: 3.815rem;

// Resets
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  background-color: $gray-light;
}

img {
  max-width: 100%;
  display: block;
}

// Typography
body {
  font-family: $font-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
}

// Buttons
.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;

  &__primary {
    padding: 0.75rem 1.5rem;
    font-size: $size5;
  }

  &__secondary {
    font-size: $size7;
    padding: 0.5rem 1rem;
  }

  &__primary,
  &__secondary {
    background-color: $primary-light;
    color: $white;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      background-color: $black;
      color: $white;
      transition: all 0.2s ease-in-out;
    }

    &:focus {
      box-shadow: 0 0 0 0.25rem $white;
    }
  }
}
